<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="addCourse.css">
</head>

<body>

    <h2 class="heading">Add Course</h2>
    <form action="/addCourse" method="POST">
        <!-- Add input fields for adding a course -->
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="level" placeholder="Level">
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="imageUrl" placeholder="Image URL">
        <button type="submit">Add Course</button>
    </form>
    <br>
    <br>
    <div class="button-wrapper">
        <button><a href="/admindashboard">Go To DashBoard</a></button>
    </div>

</body>

</html>