<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="addInstructor.css">
</head>

<body>
    <h2>Add Instructor</h2>

    <form action="/addInstructor" method="POST">
        <!-- Add input fields for adding an instructor -->
        <input type="text" name="username" placeholder="Username eg : user_new">
        <input type="password" name="password" id="password" placeholder="Assign password to the instructor">
        <button type="submit">Add Instructor</button>

        <br>
        <br>



        <div class="button-wrapper">
            <button><a href="/admindashboard">Go To DashBoard</a></button>
        </div>

    </form>

</body>

</html>