<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <!-- Add your CSS file link here -->
    <link rel="stylesheet" href="admindashboard.css">
</head>

<body>
    <div class="container">
        <h1>Admin Panel</h1>
        <a href="/addInstructor" class="button">Add Instructor</a>
        <a href="/addCourse" class="button">Add Course</a>
        <a href="/showCourse" class="button">Assign Course</a>
    </div>
    <div class="button-wrapper">
        <button><a href="/login">Log Out</a></button>
    </div>
</body>

</html>
